<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                           http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
       bean-discovery-mode="annotated">

    <scan>
        <!-- Bloqueia o Weld de tentar gerenciar o Spring Data JPA e causar o erro de EntityManager -->
        <exclude name="org.springframework.data.jpa.**"/>
        
        <!-- Garante que o Weld também não vai interferir com o banco H2 -->
        <exclude name="org.h2.**"/>
    </scan>
</beans>